
<app-auth-header [buttonText]="'register'"></app-auth-header>
<div class="d-flex justify-content-center alert-container">
    <div class="alert alert-danger error-alert" *ngIf="error">
        <p>{{ error }}</p>
    </div>
</div>
<div class="container-fluid main-container">
    
<div class="col-md-12 d-flex justify-content-center">
         <img src="../../../assets/images/200x200-skillpix-dark.svg" class="logo-signup"/>
    </div>
    <div class="row">
        <h1 class="welcome-text">Reset your password</h1>
        <div class="row mb-5">
            <input 
            class="form-control mb-3"
            type="email"
            id="login-email"
            name="login-email"
            placeholder="Email" 
            required
            email
            [(ngModel)] = "email">
            <button class="login-button btn-shadow-overlay" (click)="onResetPassword()">Reset</button>
        </div>
    </div>
</div>
