<app-auth-header [buttonText]="'login'"></app-auth-header>
<div class="d-flex justify-content-center alert-container">
    <div class="alert alert-danger error-alert" *ngIf="error">
        <p>{{ error }}</p>
    </div>
</div>
<div class="container-fluid main-container">
    
    <div class="col-md-12 d-flex justify-content-center">
             <img src="../../../assets/images/200x200-skillpix-dark.svg" class="logo-signup"/>
        </div>
        <div class="row">
            <h1 class="welcome-text">Sign up into Skillpix</h1>
            <div class="row mb-5">
                <form class="form-group" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                    <input 
                    class="form-control mb-3"
                    type="email"
                    id="register-email"
                    name="register-email"
                    placeholder="Email" 
                    required
                    email
                    [(ngModel)] = "email">
                    <input
                    class="form-control mb-3"
                    type="password"
                    placeholder="Password"
                    id="register-password"
                    name="register-password"
                    required
                    minlength="6"
                    [(ngModel)] = "password">
                    <input
                    class="form-control"
                    type="password"
                    placeholder="Confirm password"
                    id="confirm-password"
                    name="confirm-password"
                    required
                    minlength="6"
                    [(ngModel)] = "confirmPassword">
                    <button class="signup-button btn-shadow-overlay" type="submit" [disabled]="!registerForm.valid">Sign up</button>
                </form>
            </div>
        </div>
    </div>
    