@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.css';


.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 60vh;
}

.welcome-text{
    text-align: center;
    font-family: 'Lexend', sans-serif;
    margin-top: -50px;
    margin-bottom: 50px;
    font-size: 22px;
}

.signup-button{
    font-family: 'Lexend', sans-serif;
    background-color: #fff;
    color: #000;
    border-radius: 0px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}

.btn-shadow-overlay {
    position: relative;
    overflow: hidden;
  }
  
  .btn-shadow-overlay::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: top 0.3s;
  }
  
  .btn-shadow-overlay:hover::before {
    top: 0;
  }

.alert-container{
  margin-bottom: -50px;
}

.error-alert{
  margin: 0;
  padding: 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-family: 'Lexend', sans-serif;
}
