<div class="container-fluid main-home-container d-flex justify-content-center align-items-center">
    <div class="row text-center d-flex justify-content-center upper">
        <p style="text-transform: uppercase;" data-aos="fade-left" data-aos-duration="1000">creating your website</p>
        <br/>
        <h1 data-aos="fade-right" data-aos-duration="1000">Stand out in the <br/> world of business</h1>
        <p data-aos="fade-left" data-aos-duration="1000">Distinguish yourself on the internet with a polished website or showcase for your work.<br/>Skillpix empowers you to transform your creative concepts into a digital reality.</p>
        <button data-aos="fade-right" data-aos-duration="1000" class="get-started-button btn-shadow-overlay" routerLink="/templates">Get started</button>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>

<div class="container-fluid">
    <div class="container slider">
        <div class="row text-center d-flex justify-content-center upper" data-aos="fade-up">
            <h1>Amazing designs</h1>
            <p>Select from an exceptional collection of top-tier website templates. <br/> Tailor the design to align perfectly with your individual <br/> taste and meet your professional requirements.</p>
            <a routerLink="/templates">Find your template</a>
        </div>
    </div>
</div>

<app-template-slider data-aos="fade-in"></app-template-slider>

<div class="container-fluid explanation" data-aos="fade-up">
    <div class="container">
        <div class="row d-flex text-center align-items-center title">
            <h1>Discover the Best Ways to Design Your Website</h1>
        </div>
        <div class="row d-flex justify-content-around  align-items-center ">
            <div class="col-md-3 pe-5" style="border-right: solid 3px white;">
                <h2>Design It Your Way</h2>
                <p> Unlock the full potential of your website's design with our intuitive customization options. Once you've chosen your template, you have the creative freedom to tailor it to your exact preferences. Customize, resize, recolor, rotate, and align elements effortlessly to achieve your desired look. With the help of the vast web, you can craft a website like nothing.</p>
            </div>
            <div class="col-md-3" >
                <h2>Help is here</h2>
                <p>Rest assured, you're never alone in your web design journey. Our dedicated support team is always by your side, ready to assist whenever you need it. Whether you're customizing your template, troubleshooting an issue, or seeking expert guidance, our support professionals are just a message or call away. Your success is our priority, and we're here to ensure you achieve your web design goals.
                </p>
            </div>
            <div class="col-md-3 ps-5 " style="border-left: solid 3px white; ">
                <h2>Hire a Professional</h2>
                <p>Hire a Partner to create a new website for you, redesign one you already have or get help with a specific project. From marketing experts who can promote your website to graphic designers who can develop your brands look—weve got the right Partner for you. Contact us and answer a few questions here and well match you with the right person.</p>
            </div>
        </div>
    </div>
</div>