<div class="container-fluid bg-black text-white main-cont">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-logo">
                <a class="" routerLink="/"><img src="../../assets/images/skillpix.svg"></a>
            </div>
            <div class="col-md-4">
                <p>Services</p>
                <ul class="list-unstyled">
                    <li class="list-group"> <a routerLink="/templates">Website Templates</a></li>
                    <li class="list-group"> <a routerLink="/domains">Domains</a></li>
                    <li class="list-group"> <a href="https://www.canva.com/"  target="_blank">Logo Maker</a></li>
                    <li class="list-group"> <a href="https://www.youtube.com/@freecodecamp">Tutorials</a></li>
                    <li class="list-group"> <a href="https://www.pexels.com/">Stock Photos</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <p>Company</p>
                    <li class="list-group"> <a routerLink="/legal/terms-of-service">Terms of service</a></li>
                    <li class="list-group"> <a routerLink="/legal/privacy-policy">Privacy policy</a></li>
                    <li class="list-group"> <a routerLink="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-black">
        <span>&copy; Stefan Trajanov 221175</span>
    </div>
</div>