@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');


.not-found{
    height: 70vh;
    background-color: black;
    color:white;
    font-family: 'Lexend', sans-serif;
    text-align: center;
    flex-direction: column;
}